﻿<%@ Page Title="Painel de Controle" Language="C#" MasterPageFile="~/Views/Layout/Application.Master" AutoEventWireup="true" CodeBehind="index.aspx.cs" Inherits="Store.index" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <img src="Assets/Image/logo.png" alt="Market Store" class="logo" />
</asp:Content>
