﻿.table {
    width: 100%;
}

.table th:first-child {
    width: 50px;
    text-align: center;
}

.table td:first-child {
    text-align: center;
}

.error-message {
    display: none;
    visibility: visible !important;
}

.messages {
    margin-top: 20px;
}

.unavailable, .unavailable:hover {
    color: #ccc;
    cursor: default;
}

.logo {
    display: block;
    margin: 100px auto;
}

.search-button {
    margin-top: 21px;
}